@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/poppins');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-image: url(images/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}    

/* Menu */

.logo a{
    font-size: 1.5em;
    color: white;
    user-select: none;
    text-decoration: none;
}

.menu a{
    position: relative;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 70px;
}

.menu a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    transform: scaleX(0);
    transition: .5s;
}

.menu a:hover::after{
    transform: scaleX(1);
}

.login-btn{
    width: 180px;
    height: 50px;
    background: transparent;
    border: 2px solid transparent;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    background-color: #9bddaf;
    margin-left: 70px;
    transition: .2s ;
}

.login-btn:hover{
    scale: 1.05;
}

.login-btn:active{
    scale: 0.95;
}



/* Login */

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    text-align: center;
    color: #193F34;
}