@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url(images/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    color: rgb(175, 130, 250);
}



/* Header */

header{
    position: relative;
    padding: 0 2rem;
}

div.nav{
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.nav div.logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

div.nav ul.links{
    display: flex;
    gap: 2rem;
}

div.nav div.toggle-btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

a.action-btn{
    color: white;
    background-color: rgb(175, 130, 250);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

a.action-btn:hover{
    scale: 1.05;
    color: white;
}

a.action-btn:active{
    scale: 0.95;
}



/* Drop Menu */

.drop-menu{
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 60px;
    right: 2em;
    width: 300px;
    height: 0;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-menu.open{
    height: 240px;
}

.drop-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}



/* Main */

section.title{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

section.title h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

section.title p{
    padding-bottom: 15rem;
}


/* Responsividade */

@media(max-width: 900px){
    div.nav ul.links,
    div.nav a.action-btn{
        display: none;
    }

    div.nav div.toggle-btn{
        display: block;
    }

    .drop-menu{
        display: block;
    }
}

@media(max-width: 550px){
    .drop-menu{
        left: 2rem;
        width: unset;
    }
}
